## 데이터 로딩

In [2]:
import pandas as pd
df = pd.read_csv('./auto-mpg.csv',header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [3]:
df[['horsepower','name']].describe(include='all')

       horsepower        name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

In [4]:
df['horsepower'].value_counts()

150.0    22
90.00    20
88.00    19
110.0    18
100.0    17
         ..
89.00     1
148.0     1
220.0     1
149.0     1
132.0     1
Name: horsepower, Length: 94, dtype: int64

In [5]:
df['horsepower'].astype('float')

ValueError: ignored

horsepower의 데이터 중 ? 때문에 float 형태로 변화x

In [6]:
df['horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

## replace

?를 None으로 replace,
None은 unique에 표시되지 않음
? 때문에 horsepower의 mean 값을 구하지 못하기 때문에 None으로 바꿔주고 mean 계산 후 다시 넣어줌

In [7]:
df_horsepower = df['horsepower'].replace(to_replace='?', value=None, inplace=False)
df_horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

df_horsepower를 float 형태로 변환하여 mean 계산

In [8]:
df_horsepower = df_horsepower.astype('float')

In [9]:
df_horsepower.mean()

104.178391959799

In [10]:
df['horsepower'] = df_horsepower.fillna(df_horsepower.mean())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [11]:
df['name'].unique

<bound method Series.unique of 0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object>

In [12]:
df.head()

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

## 분류와 연속 column 구분

In [13]:
df.head(8)

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino
5  15.0          8         429.0  ...          70       1           ford galaxie 500
6  14.0          8         454.0  ...          70       1           chevrolet impala
7  14.0          8         440.0  ...          70       1          plymouth fury iii

[8 rows x 9 columns]

### check columns
- 연속형 : displacement,horsepower, weight, acceleration
- 중립 : mpg(연속), cylinders(분류), origin(분류)
- 분류형 : model year, name

In [18]:
df['mpg'].describe(include='all')

count    398.000000
mean      23.514573
std        7.815984
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

In [19]:
df['mpg'].value_counts()

13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
34.2     1
38.1     1
37.2     1
32.1     1
32.7     1
Name: mpg, Length: 129, dtype: int64

mpg는 소숫점이 있기 때문에 연속형으로 분류

In [20]:
df['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

cylinder는 분류형

In [21]:
df['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

origin도 분류형

In [22]:
df['name'].value_counts()

ford pinto                     6
ford maverick                  5
toyota corolla                 5
amc matador                    5
chevrolet impala               4
                              ..
toyouta corona mark ii (sw)    1
fiat x1.9                      1
dodge dart custom              1
ford mustang gl                1
plymouth volare premier v8     1
Name: name, Length: 305, dtype: int64

name의 경우 데이터가 너무 적어 회사별로 나누어야 의미있음

- 연속형 : displacement, horsepower, weight, acceleration, mpg
- 분류형 : model year, name, cylinders, origin

## 정규화 단계

In [24]:
Y = df['mpg']
X_con = df[['displacement','horsepower','weight','acceleration']]
X_cat = df[['model year', 'cylinders', 'origin']]

## scaling

In [25]:
from sklearn import preprocessing

In [26]:
scaler =preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [27]:
scaler.fit(X_con)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [28]:
X= scaler.transform(X_con)

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [32]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
lr.score(X,Y)

0.7061364273740109

In [34]:
import pickle
pickle.dump(lr, open('./autompg_lr.pkl','wb'))

wb = write binary