## 데이터 로딩

In [3]:
import pandas as pd
df = pd.read_csv('./auto-mpg.csv',header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [4]:
df[['horsepower','name']].describe(include='all')

       horsepower        name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

In [5]:
df['horsepower'].value_counts()

150.0    22
90.00    20
88.00    19
110.0    18
100.0    17
         ..
138.0     1
220.0     1
193.0     1
152.0     1
61.00     1
Name: horsepower, Length: 94, dtype: int64

In [6]:
df['horsepower'].astype('float')

ValueError: ignored

horsepower의 데이터 중 ? 때문에 float 형태로 변화x

In [7]:
df['horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

## replace

?를 None으로 replace,
None은 unique에 표시되지 않음
? 때문에 horsepower의 mean 값을 구하지 못하기 때문에 None으로 바꿔주고 mean 계산 후 다시 넣어줌

In [8]:
df_horsepower = df['horsepower'].replace(to_replace='?', value=None, inplace=False)
df_horsepower.unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

df_horsepower를 float 형태로 변환하여 mean 계산

In [9]:
df_horsepower = df_horsepower.astype('float')

In [10]:
df_horsepower.mean()

104.178391959799

In [11]:
df['horsepower'] = df_horsepower.fillna(df_horsepower.mean())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [12]:
df['name'].unique

<bound method Series.unique of 0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object>

In [13]:
df.head()

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

## 분류와 연속 column 구분

In [14]:
df.head(8)

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino
5  15.0          8         429.0  ...          70       1           ford galaxie 500
6  14.0          8         454.0  ...          70       1           chevrolet impala
7  14.0          8         440.0  ...          70       1          plymouth fury iii

[8 rows x 9 columns]

### check columns
- 연속형 : displacement,horsepower, weight, acceleration
- 중립 : mpg(연속), cylinders(분류), origin(분류)
- 분류형 : model year, name

In [15]:
df['mpg'].describe(include='all')

count    398.000000
mean      23.514573
std        7.815984
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

In [16]:
df['mpg'].value_counts()

13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
34.2     1
38.1     1
37.2     1
32.1     1
32.7     1
Name: mpg, Length: 129, dtype: int64

mpg는 소숫점이 있기 때문에 연속형으로 분류

In [17]:
df['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

cylinder는 분류형

In [18]:
df['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

origin도 분류형

In [19]:
df['name'].value_counts()

ford pinto                      6
ford maverick                   5
toyota corolla                  5
amc matador                     5
chevrolet impala                4
                               ..
ford f250                       1
chrysler new yorker brougham    1
plymouth satellite custom       1
oldsmobile cutlass ls           1
plymouth sapporo                1
Name: name, Length: 305, dtype: int64

name의 경우 데이터가 너무 적어 회사별로 나누어야 의미있음

- 연속형 : displacement, horsepower, weight, acceleration, mpg
- 분류형 : model year, name, cylinders, origin

## 정규화 단계

In [20]:
Y = df['mpg']
X_con = df[['displacement','horsepower','weight','acceleration']]
X_cat = df[['model year', 'cylinders', 'origin']]

## scaling

In [21]:
from sklearn import preprocessing

In [22]:
scaler =preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [23]:
scaler.fit(X_con)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [24]:
X= scaler.transform(X_con)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [27]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
lr.score(X,Y)

0.7061364273740109

scail을 하지 않고 계산할 때

In [29]:
df.head(1)

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu

[1 rows x 9 columns]

In [30]:
lr.predict([[307.0, 130.0, 3504.0, 12.0]])

array([-16038.67748691])

이상한 predict 값이 나옴

scail을 하고 값을 predict

In [31]:
x_trans = scaler.transform([[307.0, 130.0, 3504.0, 12.0]])
x_trans.shape
x_trans

array([[ 1.0906037 ,  0.67513301,  0.63086987, -1.29549834]])

In [32]:
lr.predict(x_trans)

array([18.99743588])

predict값이 mpg 값과 비슷하게 나옴

## Pickle

In [33]:
import pickle
pickle.dump(lr, open('./autompg_lr.pkl','wb'))

wb = write binary

In [34]:
ls -l ./saves/autompg_lr.pkl

ls: cannot access './saves/autompg_lr.pkl': No such file or directory

In [35]:
pickle.load(open('./saves/autompg_lr.pkl','rb'))

FileNotFoundError: ignored

파일 열 때는 rb = read binary

In [ ]:
pickle.dump(scaler, open('./autompg_standardscailer.pkl','wb'))

### One hot encoding

In [36]:
X_cat.head(3)

   model year  cylinders  origin
0          70          8       1
1          70          8       1
2          70          8       1

In [43]:
X_cat['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

In [50]:
df_ori = pd.get_dummies(X_cat['origin'], prefix='origin')

In [48]:
X_cat

     model year  cylinders  origin
0            70          8       1
1            70          8       1
2            70          8       1
3            70          8       1
4            70          8       1
..          ...        ...     ...
393          82          4       1
394          82          4       2
395          82          4       1
396          82          4       1
397          82          4       1

[398 rows x 3 columns]

In [49]:
df_cyl = pd.get_dummies(X_cat['cylinders'], prefix = 'cylinder')

In [52]:
df_ori.shape, df_cyl.shape

((398, 3), (398, 5))

X_con, df_cyl, df_ori를 하나의 데이터 프레임

In [53]:
# X_con + df_cyl + df_ori
# objs, axis=0
pd.concat([X_con, df_cyl, df_ori], axis='columns')

     displacement  horsepower  weight  ...  origin_1  origin_2  origin_3
0           307.0       130.0  3504.0  ...         1         0         0
1           350.0       165.0  3693.0  ...         1         0         0
2           318.0       150.0  3436.0  ...         1         0         0
3           304.0       150.0  3433.0  ...         1         0         0
4           302.0       140.0  3449.0  ...         1         0         0
..            ...         ...     ...  ...       ...       ...       ...
393         140.0        86.0  2790.0  ...         1         0         0
394          97.0        52.0  2130.0  ...         0         1         0
395         135.0        84.0  2295.0  ...         1         0         0
396         120.0        79.0  2625.0  ...         1         0         0
397         119.0        82.0  2720.0  ...         1         0         0

[398 rows x 12 columns]

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((298, 4), (100, 4), (298,), (100,))

In [58]:
import xgboost

In [59]:
xgb = xgboost.XGBRegressor()

In [60]:
xgb.fit(x_train, y_train)

[07:23:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [62]:
xgb.score(x_train, y_train)

0.9250360896147464

In [63]:
xgb.score(x_test, y_test)

0.7674074378061356